openapi: 3.2.0
info:
  title: Loudcrowd Storefront Feed Items API
  version: 0.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged StorefrontFeedItems across 2 of this provider''s published API definitions: loudcrowd-creator-storefronts-openapi.yml, loudcrowd-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://store-api.loudcrowd.com/api
  description: The base url for the LoudCrowd Creator Storefronts API.
  variables: {}
- url: https://api.loudcrowd.com
  description: LoudCrowd Attribution Events API
security:
- bearerAuth: []
tags:
- name: StorefrontFeedItems
paths:
  /StorefrontFeedItems:
    get:
      summary: Retrieve Collection Feed Items
      description: Retrieve a list of items found in a target Ambassador collection.
      parameters:
      - in: query
        name: storefrontCollectionId
        description: If this parameter is provided, the response will return the feed items for this collection. If omitted, the response will return the feed items for all collections combined.
        required: false
        schema:
          type: string
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
      - in: query
        name: mediaCursor
        description: The cursor to paginate the media items.
        required: false
        schema:
          type: string
      - in: query
        name: productCursor
        description: The cursor to paginate the product items.
        required: false
        schema:
          type: string
      - in: query
        name: sharedMediaId
        description: If this parameter is provided, the response will sort the Media list with this one first.
        required: false
        schema:
          type: string
      - in: query
        name: sharedProductId
        description: If this parameter is provided, the response will sort the Product list with this one first.
        required: false
        schema:
          type: string
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with. This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
      - in: query
        name: mediaSort
        description: The field indicating how the media items are sorted.
        required: false
        schema:
          default:
          - FEATURED_AT
          - POSTED_AT
          items:
            enum:
            - UNTAGGED
            - VISIBLE
            - FEATURED_AT
            - POSTED_AT
            type: string
          type:
          - array
          - 'null'
          maxItems: 3
      - in: query
        name: includeFeedItemTypes
        description: The types of feed items to include in the query.
        required: false
        schema:
          default:
          - PRODUCT
          - MEDIA
          items:
            enum:
            - PRODUCT
            - MEDIA
            type: string
          type:
          - array
          - 'null'
          maxItems: 2
      - in: query
        name: includeHiddenMedia
        description: Return medias that were marked as hidden.
        required: false
        schema:
          type:
          - boolean
          - 'null'
      - in: query
        name: includeTaggedMedia
        description: Return medias that were tagged with products by the ambassador.
        required: false
        schema:
          type:
          - boolean
          - 'null'
      - in: query
        name: includeUntaggedMedia
        description: Return medias that were not tagged with products by the ambassador.
        required: false
        schema:
          type:
          - boolean
          - 'null'
      - in: query
        name: mediaTypes
        description: The types of media items to include in the query.
        required: false
        schema:
          default:
          - IMAGE
          - VIDEO
          - CAROUSEL_ALBUM
          items:
            enum:
            - IMAGE
            - VIDEO
            - CAROUSEL_ALBUM
            type: string
          type:
          - array
          - 'null'
          maxItems: 3
      - in: query
        name: minMediaPostedAt
        description: The minimum date that the media was posted.
        required: false
        schema:
          type:
          - string
          - 'null'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  ecommAmbassador:
                    properties:
                      id:
                        type: string
                      pagedAmbassadorFeedItems:
                        properties:
                          mediaCursor:
                            type:
                            - string
                            - 'null'
                          productCursor:
                            type:
                            - string
                            - 'null'
                          results:
                            items:
                              anyOf:
                              - properties:
                                  __typename:
                                    description: The type of the feed item. Either a product or media.
                                    type: string
                                    example: PRODUCT
                                  customMedia:
                                    description: If the ambassador chose a custom media for the feed item when they picked it, this object will be populated with that media.
                                    type:
                                    - object
                                    - 'null'
                                    properties:
                                      id:
                                        description: The unique identifier of the custom media in the LoudCrowd platform.
                                        type: string
                                        example: XYZ123ABC
                                      imageSrc:
                                        description: The URL of the custom media image.
                                        type:
                                        - string
                                        - 'null'
                                        example: https://media.loudcrowd.com/17841409007688784.jpg
                                  featuredAt:
                                    description: If the item is featured, the date it was featured in Coordinated Universal Time (UTC).
                                    type:
                                    - string
                                    - 'null'
                                    example: '2021-07-01T00:00:00Z'
                                  isOnlyProductInCollection:
                                    description: If the product is the only product in the collection.
                                    type:
                                    - boolean
                                    - 'null'
                                    example: false
                                  pickedAt:
                                    description: The date it was picked and added to the collection in Coordinated Universal Time (UTC).
                                    type:
                                    - string
                                    - 'null'
                                    example: '2021-07-01T00:00:00Z'
                                  product:
                                    properties:
                                      active:
                                        type: boolean
                                        description: Whether the product is active.
                                        example: true
                                      brand:
                                        type:
                                        - string
                                        - 'null'
                                        description: The brand of the product.
                                        example: Nike
                                      handle:
                                        type:
                                        - string
                                        - 'null'
                                        description: The handle of the product.
                                        example: nike-air-force-1
                                      imageSrc:
                                        type:
                                        - string
                                        - 'null'
                                        description: The URL of the product image.
                                        example: https://media.loudcrowd.com/17841409007688784.jpg
                                      platformProductId:
                                        type: string
                                        description: The unique identifier of the product in the platform.
                                        example: XYZDJSK1ABC
                                      priceCurrencyCode:
                                        enum:
                                        - USD
                                        - CAD
                                        - GBP
                                        - AUD
                                        - AED
                                        - AFN
                                        - ALL
                                        - AMD
                                        - ANG
                                        - AOA
                                        - ARS
                                        - AWG
                                        - AZN
                                        - BAM
                                        - BBD
                                        - BDT
                                        - BGN
                                        - BHD
                                        - BIF
                                        - BMD
                                        - BND
                                        - BOB
                                        - BOV
                                        - BRL
                                        - BSD
                                        - BTN
                                        - BWP
                                        - BYN
                                        - BZD
                                        - CDF
                                        - CHE
                                        - CHF
                                        - CHW
                                        - CLF
                                        - CLP
                                        - CNY
                                        - COP
                                        - COU
                                        - CRC
                                        - CUC
                                        - CUP
                                        - CVE
                                        - CZK
                                        - DJF
                                        - DKK
                                        - DOP
                                        - DZD
                                        - EGP
                                        - ERN
                                        - ETB
                                        - EUR
                                        - FJD
                                        - FKP
                                        - GEL
                                        - GHS
                                        - GIP
                                        - GMD
                                        - GNF
                                        - GTQ
                                        - GYD
                                        - HKD
                                        - HNL
                                        - HRK
                                        - HTG
                                        - HUF
                                        - IDR
                                        - ILS
                                        - INR
                                        - IQD
                                        - IRR
                                        - ISK
                                        - JMD
                                        - JOD
                                        - JPY
                                        - KES
                                        - KGS
                                        - KHR
                                        - KMF
                                        - KPW
                                        - KRW
                                        - KWD
                                        - KYD
                                        - KZT
                                        - LAK
                                        - LBP
                                        - LKR
                                        - LRD
                                        - LSL
                                        - LYD
                                        - MAD
                                        - MDL
                                        - MGA
                                        - MKD
                                        - MMK
                                        - MNT
                                        - MOP
                                        - MRU
                                        - MUR
                                        - MVR
                                        - MWK
                                        - MXN
                                        - MXV
                                        - MYR
                                        - MZN
                                        - NAD
                                        - NGN
                                        - NIO
                                        - NOK
                                        - NPR
                                        - NZD
                                        - OMR
                                        - PAB
                                        - PEN
                                        - PGK
                                        - PHP
                                        - PKR
                                        - PLN
                                        - PYG
                                        - QAR
                                        - RON
                                        - RSD
                                        - RUB
                                        - RWF
                                        - SAR
                                        - SBD
                                        - SCR
                                        - SDG
                                        - SEK
                                        - SGD
                                        - SHP
                                        - SLE
                                        - SLL
                                        - SOS
                                        - SRD
                                        - SSP
                                        - STN
                                        - SVC
                                        - SYP
                                        - SZL
                                        - THB
                                        - TJS
                                        - TMT
                                        - TND
                                        - TOP
                                        - TRY
                                        - TTD
                                        - TWD
                                        - TZS
                                        - UAH
                                        - UGX
                                        - USN
                                        - UYI
                                        - UYU
                                        - UYW
                                        - UZS
                                        - VED
                                        - VES
                                        - VND
                                        - VUV
                                        - WST
                                        - XAF
                                        - XAG
                                        - XAU
                                        - XBA
                                        - XBB
                                        - XBC
                                        - XBD
                                        - XCD
                                        - XDR
                                        - XOF
                                        - XPD
                                        - XPF
                                        - XPT
                                        - XSU
                                        - XTS
                                        - XUA
                                        - XXX
                                        - YER
                                        - ZAR
                                        - ZMW
                                        - ZWL
                                        type:
                                        - string
                                        - 'null'
                                        description: The currency code of the product prices.
                                        example: USD
                                      prices:
                                        properties:
                                          discountedPriceRanges:
                                            description: List of the discounted price ranges for the product.
                                            items:
                                              properties:
                                                discount:
                                                  properties:
                                                    id:
                                                      type: string
                                                  type: object
                                                range:
                                                  properties:
                                                    max:
                                                      type: number
                                                    min:
                                                      type: number
                                                  type: object
                                              type: object
                                            type: array
                                            maxItems: 10
                                          discountedPrices:
                                            description: List of the discounted prices for the product.
                                            items:
                                              properties:
                                                discount:
                                                  properties:
                                                    id:
                                                      type: string
                                                  type: object
                                                price:
                                                  type: number
                                              type: object
                                            type: array
                                            maxItems: 10
                                          price:
                                            description: The price of the product.
                                            type:
                                            - number
                                            - 'null'
                                          priceRange:
                                            description: The price range of the product.
                                            properties:
                                              max:
                                                type: number
                                              min:
                                                type: number
                                            type:
                                            - object
                                            - 'null'
                                          promotionalPrice:
                                            description: If there is a site wide promotion applied to the product data, the promotional price of the product.
                                            type:
                                            - number
                                            - 'null'
                                          promotionalPriceRange:
                                            description: If there is a site wide promotion applied to the product data, the promotional price range of the product.
                                            properties:
                                              max:
                                                type: number
                                              min:
                                                type: number
                                            type:
                                            - object
                                            - 'null'
                                          salePrice:
                                            description: The sale price of the product.
                                            type:
                                            - number
                                            - 'null'
                                          salePriceRange:
                                            description: The sale price range of the product.
                                            properties:
                                              max:
                                                type: number
                                              min:
                                                type: number
                                            type:
                                            - object
                                            - 'null'
                                        type:
                                        - object
                                        - 'null'
                                      productUrl:
                                        description: The URL of the product details.
                                        type:
                                        - string
                                        - 'null'
                                      promotionalCode:
                                        description: If there is a site wide promotion applied to the product data, the promotional code itself.
                                        type:
                                        - string
                                        - 'null'
                                      title:
                                        description: The title of the product.
                                        type:
                                        - string
                                        - 'null'
                                    type: object
                                  productVariant:
                                    type: object
                                    properties:
                                      id:
                                        description: The unique identifier of the product variant in the platform.
                                        type: string
                                        example: XYZDJSK1ABC
                                      productUrl:
                                        description: The URL of the product variant details.
                                        type:
                                        - string
                                        - 'null'
                                      selectedOptions:
                                        items:
                                          $ref: '#/components/schemas/selectedOptionItem'
                                        type: array
                                        maxItems: 10
                                type: object
                              - properties:
                                  __typename:
                                    description: The type of the feed item. Either a product or media.
                                    type: string
                                    example: MEDIA
                                  hasNextMedia:
                                    description: If the media item has a next media item.
                                    type:
                                    - boolean
                                    - 'null'
                                    example: true
                                  hasPrevMedia:
                                    description: If the media item has a previous media item.
                                    type:
                                    - boolean
                                    - 'null'
                                    example: true
                                  hidden:
                                    description: Whether the media item is hidden by the ambassador.
                                    type: boolean
                                    example: false
                                  isFeatured:
                                    description: Whether the media item is featured.
                                    type: boolean
                                    example: true
                                  isShoppable:
                                    description: Whether the media item is shoppable. Meaning it has products tagged.
                                    type: boolean
                                    example: true
                                  media:
                                    $ref: '#/components/schemas/mediaItem'
                                    type: object
                                type: object
                            type: array
                            maxItems: 100
                          total:
                            type:
                            - integer
                            - 'null'
                        type: object
                    type:
                    - object
                    - 'null'
                type: object
          description: response
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      tags:
      - StorefrontFeedItems
    servers:
    - url: https://store-api.loudcrowd.com/api
      description: The base url for the LoudCrowd Creator Storefronts API.
      variables: {}
components:
  responses:
    '404':
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
              message:
                type: string
                example: Not Found
    '400':
      description: Request is missing or has a bad parameter.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              message:
                type: string
                example: Bad Request
  schemas:
    mediaItem:
      type: object
      properties:
        caption:
          description: The caption of the media item.
          type:
          - string
          - 'null'
          example: Check out my new shoes!
        children:
          description: If the media item is a carousel, the items in the carousel.
          items:
            properties:
              mediaType:
                enum:
                - IMAGE
                - VIDEO
                - CAROUSEL_ALBUM
                type:
                - string
                - 'null'
                description: The media type of the carousel child item.
                example: VIDEO
              mediaUrl:
                type:
                - string
                - 'null'
                description: The URL of the media item.
                example: https://media.loudcrowd.com/18057689623487832.mp4
            type: object
          type:
          - array
          - 'null'
          maxItems: 100
        mediaType:
          enum:
          - IMAGE
          - VIDEO
          - CAROUSEL_ALBUM
          type:
          - string
          - 'null'
          description: The media type of the item.
          example: VIDEO
        mediaUrl:
          type:
          - string
          - 'null'
          description: The URL of the media item.
          example: https://media.loudcrowd.com/18057689623487832.mp4
        platform:
          enum:
          - INSTAGRAM
          - TIKTOK
          type:
          - string
          - 'null'
          description: The social platform of the media item.
          example: INSTAGRAM
        postType:
          enum:
          - FEED
          - STORY
          - REELS
          type:
          - string
          - 'null'
          description: The type of post the media item is. This is dependent on the platform.
          example: REELS
        postedAt:
          type:
          - string
          - 'null'
          description: The date the media item was posted in Coordinated Universal Time (UTC).
          example: '2021-07-01T00:00:00Z'
    selectedOptionItem:
      properties:
        name:
          description: The name of the selected option.
          type:
          - string
          - 'null'
          example: Color
        value:
          description: The value of the selected option.
          type:
          - string
          - 'null'
          example: Red
      type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
    accountKeyAuth:
      type: apiKey
      in: header
      name: X-LC-Account-Key
      description: API token created in LoudCrowd.
      x-default: YOUR_API_TOKEN
x-refined-from:
- loudcrowd-creator-storefronts-openapi.yml
- loudcrowd-openapi.yml
x-readme:
  explorer-enabled: false
