openapi: 3.2.0
info:
  title: Loudcrowd Storefront Media Details API
  version: 0.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged StorefrontMediaDetails across 2 of this provider''s published API definitions: loudcrowd-creator-storefronts-openapi.yml, loudcrowd-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://store-api.loudcrowd.com/api
  description: The base url for the LoudCrowd Creator Storefronts API.
  variables: {}
- url: https://api.loudcrowd.com
  description: LoudCrowd Attribution Events API
security:
- bearerAuth: []
tags:
- name: StorefrontMediaDetails
paths:
  /StorefrontMediaDetails:
    get:
      summary: Retrieve Media Details
      description: Detailed data to support display of a shoppable media item.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: mediaId
        description: The unique identifier of the media item in the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  mediaDetails:
                    type: object
                    properties:
                      hasNextMedia:
                        description: If the media item has a next media item.
                        type:
                        - boolean
                        - 'null'
                        example: true
                      hasPrevMedia:
                        description: If the media item has a previous media item.
                        type:
                        - boolean
                        - 'null'
                        example: true
                      hidden:
                        description: Whether the media item is hidden by the ambassador.
                        type: boolean
                        example: false
                      isFeatured:
                        description: Whether the media item is featured.
                        type: boolean
                        example: true
                      isShoppable:
                        description: Whether the media item is shoppable. Meaning it has products tagged.
                        type: boolean
                        example: true
                      media:
                        properties:
                          caption:
                            description: The caption of the media item.
                            type:
                            - string
                            - 'null'
                            example: Check out my new shoes!
                          children:
                            description: If the media item is a carousel, the items in the carousel.
                            items:
                              properties:
                                mediaType:
                                  enum:
                                  - IMAGE
                                  - VIDEO
                                  - CAROUSEL_ALBUM
                                  type:
                                  - string
                                  - 'null'
                                  description: The media type of the carousel child item.
                                  example: VIDEO
                                mediaUrl:
                                  type:
                                  - string
                                  - 'null'
                                  description: The URL of the media item.
                                  example: https://media.loudcrowd.com/18057689623487832.mp4
                              type: object
                            type:
                            - array
                            - 'null'
                            maxItems: 100
                          mediaType:
                            enum:
                            - IMAGE
                            - VIDEO
                            - CAROUSEL_ALBUM
                            type:
                            - string
                            - 'null'
                            description: The media type of the item.
                            example: VIDEO
                          mediaUrl:
                            type:
                            - string
                            - 'null'
                            description: The URL of the media item.
                            example: https://media.loudcrowd.com/18057689623487832.mp4
                          platform:
                            enum:
                            - INSTAGRAM
                            - TIKTOK
                            type:
                            - string
                            - 'null'
                            description: The social platform of the media item.
                            example: INSTAGRAM
                          postType:
                            enum:
                            - FEED
                            - STORY
                            - REELS
                            type:
                            - string
                            - 'null'
                            description: The type of post the media item is. This is dependent on the platform.
                            example: REELS
                          postedAt:
                            type:
                            - string
                            - 'null'
                            description: The date the media item was posted in Coordinated Universal Time (UTC).
                            example: '2021-07-01T00:00:00Z'
                        type: object
                      taggedProducts:
                        type:
                        - array
                        - 'null'
                        items:
                          type: object
                          $ref: '#/components/schemas/taggedProductItem'
                        maxItems: 100
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      tags:
      - StorefrontMediaDetails
    servers:
    - url: https://store-api.loudcrowd.com/api
      description: The base url for the LoudCrowd Creator Storefronts API.
      variables: {}
components:
  schemas:
    productPrices:
      properties:
        discountedPriceRanges:
          description: List of the discounted price ranges for the product.
          items:
            properties:
              discount:
                properties:
                  id:
                    type: string
                type: object
              range:
                properties:
                  max:
                    type: number
                  min:
                    type: number
                type: object
            type: object
          type: array
          maxItems: 10
        discountedPrices:
          description: List of the discounted prices for the product.
          items:
            properties:
              discount:
                properties:
                  id:
                    type: string
                type: object
              price:
                type: number
            type: object
          type: array
          maxItems: 10
        price:
          description: The price of the product.
          type:
          - number
          - 'null'
        priceRange:
          description: The price range of the product.
          properties:
            max:
              type: number
            min:
              type: number
          type:
          - object
          - 'null'
        promotionalPrice:
          description: If there is a site wide promotion applied to the product data, the promotional price of the product.
          type:
          - number
          - 'null'
        promotionalPriceRange:
          description: If there is a site wide promotion applied to the product data, the promotional price range of the product.
          properties:
            max:
              type: number
            min:
              type: number
          type:
          - object
          - 'null'
        salePrice:
          description: The sale price of the product.
          type:
          - number
          - 'null'
        salePriceRange:
          description: The sale price range of the product.
          properties:
            max:
              type: number
            min:
              type: number
          type:
          - object
          - 'null'
      type:
      - object
      - 'null'
    taggedProductItem:
      type: object
      properties:
        id:
          description: The unique identifier of the product in the platform.
          type: string
          example: XYZDJSK1ABC
        imageSrc:
          description: The URL of the product image.
          type:
          - string
          - 'null'
          example: https://media.loudcrowd.com/17841409007688784.jpg
        active:
          description: Whether the product is active.
          type: boolean
          example: true
        brand:
          description: The brand of the product.
          type:
          - string
          - 'null'
          example: Nike
        inStock:
          description: Whether the product is in stock.
          type: boolean
          example: true
        platformProductId:
          description: The unique identifier of the product in the eCommerce platform.
          type: string
          example: XYZDJSK1ABC
        priceCurrencyCode:
          $ref: '#/components/schemas/priceCurrencyCode'
        prices:
          $ref: '#/components/schemas/productPrices'
        productUrl:
          description: The URL of the product details.
          type:
          - string
          - 'null'
        promotionalCode:
          description: If there is a site wide promotion applied to the product data, the promotional code itself.
          type:
          - string
          - 'null'
        title:
          description: The title of the product.
          type:
          - string
          - 'null'
        pickedProductVariant:
          type: object
          properties:
            id:
              description: The unique identifier of the variant in  LoudCrowd.
              type: string
              example: XYZDJSK1ABC
            medias:
              description: The media items associated with the product variant.
              type: array
              items:
                type: object
                properties:
                  id:
                    description: Id of the product media in LoudCrowd.
                    type: string
                    example: cHJvZHVjdF9tZWRpYTo5NjU4OTg2
                  mediaType:
                    enum:
                    - IMAGE
                    - VIDEO
                    - CAROUSEL_ALBUM
                    type:
                    - string
                    - 'null'
                    description: The media type of the carousel child item.
                    example: VIDEO
                  mediaUrl:
                    type:
                    - string
                    - 'null'
                    description: The URL of the media item.
                    example: https://media.loudcrowd.com/18057689623487832.mp4
                  position:
                    description: The position of the media in the carousel.
                    type:
                    - integer
                    - 'null'
                    example: 0
              maxItems: 100
            productUrl:
              description: The URL of the variant the ambassador has picked.
              type:
              - string
              - 'null'
            selectedOptions:
              description: The selected options of the product variant.
              type: array
              items:
                $ref: '#/components/schemas/selectedOptionItem'
              maxItems: 100
    priceCurrencyCode:
      enum:
      - USD
      - CAD
      - GBP
      - AUD
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
      type:
      - string
      - 'null'
      description: The currency code of the product prices.
      example: USD
    selectedOptionItem:
      properties:
        name:
          description: The name of the selected option.
          type:
          - string
          - 'null'
          example: Color
        value:
          description: The value of the selected option.
          type:
          - string
          - 'null'
          example: Red
      type: object
  responses:
    '400':
      description: Request is missing or has a bad parameter.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              message:
                type: string
                example: Bad Request
    '404':
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
              message:
                type: string
                example: Not Found
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
    accountKeyAuth:
      type: apiKey
      in: header
      name: X-LC-Account-Key
      description: API token created in LoudCrowd.
      x-default: YOUR_API_TOKEN
x-refined-from:
- loudcrowd-creator-storefronts-openapi.yml
- loudcrowd-openapi.yml
x-readme:
  explorer-enabled: false
