openapi: 3.2.0
info:
  title: Loudcrowd Storefront Ambassador API
  version: 0.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  description: 'Operations tagged StorefrontAmbassador across 2 of this provider''s published API definitions: loudcrowd-creator-storefronts-openapi.yml, loudcrowd-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://store-api.loudcrowd.com/api
  description: The base url for the LoudCrowd Creator Storefronts API.
  variables: {}
- url: https://api.loudcrowd.com
  description: LoudCrowd Attribution Events API
security:
- bearerAuth: []
tags:
- name: StorefrontAmbassador
paths:
  /StorefrontAmbassador:
    get:
      summary: Retrieve Ambassador Information
      description: Returns information about the target ambassador identified by their unique LoudCrowd ID.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with. This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  ecommAmbassador:
                    properties:
                      affiliateCode:
                        description: This is the ambassador's affiliate code, if one has been assigned to them.
                        type:
                        - string
                        - 'null'
                        example: JOE123
                      ambassadorLink:
                        type:
                        - string
                        - 'null'
                        description: The sharable link to the ambassador's storefront.
                        example: https://store.com/creator_storefront?lc_ambassador_id=XYZ123ABC
                      firstName:
                        type:
                        - string
                        - 'null'
                        description: The first name of the ambassador.
                        example: Joe
                      id:
                        type: string
                        description: The unique identifier of the ambassador in the LoudCrowd platform.
                        example: XYZ123ABC
                      lastName:
                        type:
                        - string
                        - 'null'
                        description: The last name of the ambassador.
                        example: Smith
                      linkDiscountEnabled:
                        type:
                        - boolean
                        - 'null'
                        description: If `true` the ambassador's storefront has an automatic discount applied.
                        example: false
                      profile:
                        properties:
                          avatar:
                            type:
                            - string
                            - 'null'
                            description: The URL of the ambassador's avatar image.
                            example: https://media.loudcrowd.com/17841409007688784.jpg
                          bio:
                            type:
                            - string
                            - 'null'
                            description: The biography that the ambassador has chosen to display at the top of their storefront.
                            example: Welcome to my store! I hope you find something you love.
                        type:
                        - object
                        - 'null'
                      program:
                        properties:
                          codeDiscount:
                            properties:
                              appliesOnEachItem:
                                type:
                                - boolean
                                - 'null'
                              collections:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                                  type: object
                                type:
                                - array
                                - 'null'
                                maxItems: 100
                              discountClass:
                                enum:
                                - ORDER
                                - PRODUCT
                                type: string
                              endsAt:
                                type:
                                - string
                                - 'null'
                              id:
                                type: string
                              products:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type:
                                      - string
                                      - 'null'
                                  type: object
                                type:
                                - array
                                - 'null'
                                maxItems: 100
                              value:
                                type: number
                              valueType:
                                enum:
                                - PERCENTAGE
                                - DISCOUNT_AMOUNT
                                type: string
                            type:
                            - object
                            - 'null'
                          codelessDiscount:
                            properties:
                              appliesOnEachItem:
                                type:
                                - boolean
                                - 'null'
                              collections:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                                  type: object
                                type:
                                - array
                                - 'null'
                                maxItems: 100
                              discountClass:
                                enum:
                                - ORDER
                                - PRODUCT
                                type: string
                              endsAt:
                                type:
                                - string
                                - 'null'
                              id:
                                type: string
                              products:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type:
                                      - string
                                      - 'null'
                                  type: object
                                type:
                                - array
                                - 'null'
                                maxItems: 100
                              value:
                                type: number
                              valueType:
                                enum:
                                - PERCENTAGE
                                - DISCOUNT_AMOUNT
                                type: string
                            type:
                            - object
                            - 'null'
                          currencyCode:
                            description: The currency code that the store is using.
                            example: USD
                            enum:
                            - USD
                            - CAD
                            - GBP
                            - AUD
                            - AED
                            - AFN
                            - ALL
                            - AMD
                            - ANG
                            - AOA
                            - ARS
                            - AWG
                            - AZN
                            - BAM
                            - BBD
                            - BDT
                            - BGN
                            - BHD
                            - BIF
                            - BMD
                            - BND
                            - BOB
                            - BOV
                            - BRL
                            - BSD
                            - BTN
                            - BWP
                            - BYN
                            - BZD
                            - CDF
                            - CHE
                            - CHF
                            - CHW
                            - CLF
                            - CLP
                            - CNY
                            - COP
                            - COU
                            - CRC
                            - CUC
                            - CUP
                            - CVE
                            - CZK
                            - DJF
                            - DKK
                            - DOP
                            - DZD
                            - EGP
                            - ERN
                            - ETB
                            - EUR
                            - FJD
                            - FKP
                            - GEL
                            - GHS
                            - GIP
                            - GMD
                            - GNF
                            - GTQ
                            - GYD
                            - HKD
                            - HNL
                            - HRK
                            - HTG
                            - HUF
                            - IDR
                            - ILS
                            - INR
                            - IQD
                            - IRR
                            - ISK
                            - JMD
                            - JOD
                            - JPY
                            - KES
                            - KGS
                            - KHR
                            - KMF
                            - KPW
                            - KRW
                            - KWD
                            - KYD
                            - KZT
                            - LAK
                            - LBP
                            - LKR
                            - LRD
                            - LSL
                            - LYD
                            - MAD
                            - MDL
                            - MGA
                            - MKD
                            - MMK
                            - MNT
                            - MOP
                            - MRU
                            - MUR
                            - MVR
                            - MWK
                            - MXN
                            - MXV
                            - MYR
                            - MZN
                            - NAD
                            - NGN
                            - NIO
                            - NOK
                            - NPR
                            - NZD
                            - OMR
                            - PAB
                            - PEN
                            - PGK
                            - PHP
                            - PKR
                            - PLN
                            - PYG
                            - QAR
                            - RON
                            - RSD
                            - RUB
                            - RWF
                            - SAR
                            - SBD
                            - SCR
                            - SDG
                            - SEK
                            - SGD
                            - SHP
                            - SLE
                            - SLL
                            - SOS
                            - SRD
                            - SGD
                            - SHP
                            - SLE
                            - SLL
                            - SOS
                            - SRD
                            - SSP
                            - STN
                            - SVC
                            - SYP
                            - SZL
                            - THB
                            - TJS
                            - TMT
                            - TND
                            - TOP
                            - TRY
                            - TTD
                            - TWD
                            - TZS
                            - UAH
                            - UGX
                            - USN
                            - UYI
                            - UYU
                            - UYW
                            - UZS
                            - VED
                            - VES
                            - VND
                            - VUV
                            - WST
                            - XAF
                            - XAG
                            - XAU
                            - XBA
                            - XBB
                            - XBC
                            - XBD
                            - XCD
                            - XDR
                            - XOF
                            - XPD
                            - XPF
                            - XPT
                            - XSU
                            - XTS
                            - XUA
                            - XXX
                            - YER
                            - ZAR
                            - ZMW
                            - ZWL
                            type:
                            - string
                            - 'null'
                          hideSalesPrice:
                            description: Whether to hide the sales price on the storefront.
                            example: false
                            type:
                            - boolean
                            - 'null'
                          name:
                            description: The name of the program that the ambassador joined.
                            example: Our Brand's Ambassadors
                            type: string
                          showOutOfStockProducts:
                            description: Whether to show out of stock products on the storefront.
                            example: false
                            type:
                            - boolean
                            - 'null'
                        type: object
                      socialUsers:
                        type:
                        - array
                        - 'null'
                        description: The social media accounts that the ambassador has connected to their storefront.
                        items:
                          properties:
                            platform:
                              type:
                              - string
                              - 'null'
                              description: The platform of the social media account.
                              example: INSTAGRAM
                            username:
                              type: string
                              description: The username of the social media account.
                              example: joesmith
                        maxItems: 100
                    type:
                    - object
                    - 'null'
          description: response
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      tags:
      - StorefrontAmbassador
    servers:
    - url: https://store-api.loudcrowd.com/api
      description: The base url for the LoudCrowd Creator Storefronts API.
      variables: {}
components:
  responses:
    '400':
      description: Request is missing or has a bad parameter.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              message:
                type: string
                example: Bad Request
    '404':
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
              message:
                type: string
                example: Not Found
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
    accountKeyAuth:
      type: apiKey
      in: header
      name: X-LC-Account-Key
      description: API token created in LoudCrowd.
      x-default: YOUR_API_TOKEN
x-refined-from:
- loudcrowd-creator-storefronts-openapi.yml
- loudcrowd-openapi.yml
x-readme:
  explorer-enabled: false
