openapi: 3.2.0
info:
  title: LoudCrowd Storefront Collections API
  version: 0.0.0
  description: LoudCrowd public API definitions, including the account-scoped Brand API and Attribution Events API.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://store-api.loudcrowd.com/api
  description: LoudCrowd Creator Storefronts API
- url: https://api.loudcrowd.com
  description: LoudCrowd Attribution Events API
security:
- bearerAuth: []
tags:
- name: Storefront Collections
paths:
  /StorefrontCollections:
    get:
      summary: Retrieve Ambassador Collections
      description: Retrieve an array of collections that the Ambassador is associated with.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: sharedCollectionId
        description: If this parameter is provided, the response will sort the Collection list with this one first.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with. This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  ecommAmbassador:
                    properties:
                      ambassadorCollections:
                        items:
                          properties:
                            description:
                              description: The description that the ambassador has chosen for the collection.
                              type:
                              - string
                              - 'null'
                              example: The best of the best items for your summer vacation!
                            featuredAt:
                              description: If the collection is featured, the date it was featured in Coordinated Universal Time (UTC).
                              type:
                              - string
                              - 'null'
                              example: '2021-07-01T00:00:00Z'
                            id:
                              description: The unique identifier of the collection in the LoudCrowd platform.
                              type: string
                              example: JSKD23SFJ
                            name:
                              description: The name of the collection.
                              type: string
                              example: Summer Collection
                            productsCount:
                              description: The number of products in the collection.
                              type:
                              - integer
                              - 'null'
                              example: 5
                          type: object
                        type:
                        - array
                        - 'null'
                        maxItems: 200
                    type:
                    - object
                    - 'null'
                type: object
          description: response
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
      tags:
      - Storefront Collections
      operationId: getStorefrontCollections
      x-operation-id-source: derived
components:
  responses:
    '400':
      description: Request is missing or has a bad parameter.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              message:
                type: string
                example: Bad Request
    '404':
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
              message:
                type: string
                example: Not Found
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
    accountKeyAuth:
      type: apiKey
      in: header
      name: X-LC-Account-Key
      description: API token created in LoudCrowd.
      x-default: YOUR_API_TOKEN
x-readme:
  explorer-enabled: false
