info:
  title: LoudCrowd API
  version: 0.0.0
  description: |
    LoudCrowd public API definitions, including the account-scoped Brand API and Attribution Events API.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
openapi: 3.0.0
servers:
- url: https://store-api.loudcrowd.com/api
  description: LoudCrowd Creator Storefronts API
- url: https://api.loudcrowd.com
  description: LoudCrowd Attribution Events API
x-readme:
  explorer-enabled: false
paths:
  /StorefrontAmbassador:
    get:
      summary: Retrieve Ambassador Information
      description: Returns information about the target ambassador identified by their unique LoudCrowd
        ID.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field
          is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with.
          This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  ecommAmbassador:
                    properties:
                      affiliateCode:
                        description: This is the ambassador's affiliate code, if one has been assigned
                          to them.
                        type: string
                        nullable: true
                        example: JOE123
                      ambassadorLink:
                        type: string
                        nullable: true
                        description: The sharable link to the ambassador's storefront.
                        example: https://store.com/creator_storefront?lc_ambassador_id=XYZ123ABC
                      firstName:
                        type: string
                        nullable: true
                        description: The first name of the ambassador.
                        example: Joe
                      id:
                        type: string
                        description: The unique identifier of the ambassador in the LoudCrowd platform.
                        example: XYZ123ABC
                      lastName:
                        type: string
                        nullable: true
                        description: The last name of the ambassador.
                        example: Smith
                      linkDiscountEnabled:
                        type: boolean
                        description: If `true` the ambassador's storefront has an automatic discount applied.
                        example: false
                        nullable: true
                      profile:
                        properties:
                          avatar:
                            type: string
                            nullable: true
                            description: The URL of the ambassador's avatar image.
                            example: https://media.loudcrowd.com/17841409007688784.jpg
                          bio:
                            type: string
                            nullable: true
                            description: The biography that the ambassador has chosen to display at the
                              top of their storefront.
                            example: Welcome to my store! I hope you find something you love.
                        type: object
                        nullable: true
                      program:
                        properties:
                          codeDiscount:
                            properties:
                              appliesOnEachItem:
                                type: boolean
                                nullable: true
                              collections:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                                  type: object
                                type: array
                                maxItems: 100
                                nullable: true
                              discountClass:
                                enum:
                                - ORDER
                                - PRODUCT
                                type: string
                              endsAt:
                                type: string
                                nullable: true
                              id:
                                type: string
                              products:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                                      nullable: true
                                  type: object
                                type: array
                                maxItems: 100
                                nullable: true
                              value:
                                type: number
                              valueType:
                                enum:
                                - PERCENTAGE
                                - DISCOUNT_AMOUNT
                                type: string
                            type: object
                            nullable: true
                          codelessDiscount:
                            properties:
                              appliesOnEachItem:
                                type: boolean
                                nullable: true
                              collections:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                                  type: object
                                type: array
                                maxItems: 100
                                nullable: true
                              discountClass:
                                enum:
                                - ORDER
                                - PRODUCT
                                type: string
                              endsAt:
                                type: string
                                nullable: true
                              id:
                                type: string
                              products:
                                items:
                                  properties:
                                    id:
                                      type: string
                                    title:
                                      type: string
                                      nullable: true
                                  type: object
                                type: array
                                maxItems: 100
                                nullable: true
                              value:
                                type: number
                              valueType:
                                enum:
                                - PERCENTAGE
                                - DISCOUNT_AMOUNT
                                type: string
                            type: object
                            nullable: true
                          currencyCode:
                            description: The currency code that the store is using.
                            example: USD
                            enum:
                            - USD
                            - CAD
                            - GBP
                            - AUD
                            - AED
                            - AFN
                            - ALL
                            - AMD
                            - ANG
                            - AOA
                            - ARS
                            - AWG
                            - AZN
                            - BAM
                            - BBD
                            - BDT
                            - BGN
                            - BHD
                            - BIF
                            - BMD
                            - BND
                            - BOB
                            - BOV
                            - BRL
                            - BSD
                            - BTN
                            - BWP
                            - BYN
                            - BZD
                            - CDF
                            - CHE
                            - CHF
                            - CHW
                            - CLF
                            - CLP
                            - CNY
                            - COP
                            - COU
                            - CRC
                            - CUC
                            - CUP
                            - CVE
                            - CZK
                            - DJF
                            - DKK
                            - DOP
                            - DZD
                            - EGP
                            - ERN
                            - ETB
                            - EUR
                            - FJD
                            - FKP
                            - GEL
                            - GHS
                            - GIP
                            - GMD
                            - GNF
                            - GTQ
                            - GYD
                            - HKD
                            - HNL
                            - HRK
                            - HTG
                            - HUF
                            - IDR
                            - ILS
                            - INR
                            - IQD
                            - IRR
                            - ISK
                            - JMD
                            - JOD
                            - JPY
                            - KES
                            - KGS
                            - KHR
                            - KMF
                            - KPW
                            - KRW
                            - KWD
                            - KYD
                            - KZT
                            - LAK
                            - LBP
                            - LKR
                            - LRD
                            - LSL
                            - LYD
                            - MAD
                            - MDL
                            - MGA
                            - MKD
                            - MMK
                            - MNT
                            - MOP
                            - MRU
                            - MUR
                            - MVR
                            - MWK
                            - MXN
                            - MXV
                            - MYR
                            - MZN
                            - NAD
                            - NGN
                            - NIO
                            - NOK
                            - NPR
                            - NZD
                            - OMR
                            - PAB
                            - PEN
                            - PGK
                            - PHP
                            - PKR
                            - PLN
                            - PYG
                            - QAR
                            - RON
                            - RSD
                            - RUB
                            - RWF
                            - SAR
                            - SBD
                            - SCR
                            - SDG
                            - SEK
                            - SGD
                            - SHP
                            - SLE
                            - SLL
                            - SOS
                            - SRD
                            - SGD
                            - SHP
                            - SLE
                            - SLL
                            - SOS
                            - SRD
                            - SSP
                            - STN
                            - SVC
                            - SYP
                            - SZL
                            - THB
                            - TJS
                            - TMT
                            - TND
                            - TOP
                            - TRY
                            - TTD
                            - TWD
                            - TZS
                            - UAH
                            - UGX
                            - USN
                            - UYI
                            - UYU
                            - UYW
                            - UZS
                            - VED
                            - VES
                            - VND
                            - VUV
                            - WST
                            - XAF
                            - XAG
                            - XAU
                            - XBA
                            - XBB
                            - XBC
                            - XBD
                            - XCD
                            - XDR
                            - XOF
                            - XPD
                            - XPF
                            - XPT
                            - XSU
                            - XTS
                            - XUA
                            - XXX
                            - YER
                            - ZAR
                            - ZMW
                            - ZWL
                            type: string
                            nullable: true
                          hideSalesPrice:
                            description: Whether to hide the sales price on the storefront.
                            example: false
                            type: boolean
                            nullable: true
                          name:
                            description: The name of the program that the ambassador joined.
                            example: Our Brand's Ambassadors
                            type: string
                          showOutOfStockProducts:
                            description: Whether to show out of stock products on the storefront.
                            example: false
                            type: boolean
                            nullable: true
                        type: object
                      socialUsers:
                        type: array
                        description: The social media accounts that the ambassador has connected to their
                          storefront.
                        items:
                          properties:
                            platform:
                              type: string
                              description: The platform of the social media account.
                              example: INSTAGRAM
                              nullable: true
                            username:
                              type: string
                              description: The username of the social media account.
                              example: joesmith
                        maxItems: 100
                        nullable: true
                    type: object
                    nullable: true
          description: response
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
  /StorefrontCollections:
    get:
      summary: Retrieve Ambassador Collections
      description: Retrieve an array of collections that the Ambassador is associated with.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: sharedCollectionId
        description: If this parameter is provided, the response will sort the Collection list with this
          one first.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field
          is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with.
          This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  ecommAmbassador:
                    properties:
                      ambassadorCollections:
                        items:
                          properties:
                            description:
                              description: The description that the ambassador has chosen for the collection.
                              type: string
                              example: The best of the best items for your summer vacation!
                              nullable: true
                            featuredAt:
                              description: If the collection is featured, the date it was featured in
                                Coordinated Universal Time (UTC).
                              type: string
                              nullable: true
                              example: '2021-07-01T00:00:00Z'
                            id:
                              description: The unique identifier of the collection in the LoudCrowd platform.
                              type: string
                              example: JSKD23SFJ
                            name:
                              description: The name of the collection.
                              type: string
                              example: Summer Collection
                            productsCount:
                              description: The number of products in the collection.
                              type: integer
                              example: 5
                              nullable: true
                          type: object
                        type: array
                        maxItems: 200
                        nullable: true
                    type: object
                    nullable: true
                type: object
          description: response
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
  /StorefrontFeedItems:
    get:
      summary: Retrieve Collection Feed Items
      description: Retrieve a list of items found in a target Ambassador collection.
      parameters:
      - in: query
        name: storefrontCollectionId
        description: If this parameter is provided, the response will return the feed items for this collection.
          If omitted, the response will return the feed items for all collections combined.
        required: false
        schema:
          type: string
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
      - in: query
        name: mediaCursor
        description: The cursor to paginate the media items.
        required: false
        schema:
          type: string
      - in: query
        name: productCursor
        description: The cursor to paginate the product items.
        required: false
        schema:
          type: string
      - in: query
        name: sharedMediaId
        description: If this parameter is provided, the response will sort the Media list with this one
          first.
        required: false
        schema:
          type: string
      - in: query
        name: sharedProductId
        description: If this parameter is provided, the response will sort the Product list with this
          one first.
        required: false
        schema:
          type: string
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field
          is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with.
          This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
      - in: query
        name: mediaSort
        description: The field indicating how the media items are sorted.
        required: false
        schema:
          default:
          - FEATURED_AT
          - POSTED_AT
          items:
            enum:
            - UNTAGGED
            - VISIBLE
            - FEATURED_AT
            - POSTED_AT
            type: string
          type: array
          maxItems: 3
          nullable: true
      - in: query
        name: includeFeedItemTypes
        description: The types of feed items to include in the query.
        required: false
        schema:
          default:
          - PRODUCT
          - MEDIA
          items:
            enum:
            - PRODUCT
            - MEDIA
            type: string
          type: array
          maxItems: 2
          nullable: true
      - in: query
        name: includeHiddenMedia
        description: Return medias that were marked as hidden.
        required: false
        schema:
          type: boolean
          nullable: true
      - in: query
        name: includeTaggedMedia
        description: Return medias that were tagged with products by the ambassador.
        required: false
        schema:
          type: boolean
          nullable: true
      - in: query
        name: includeUntaggedMedia
        description: Return medias that were not tagged with products by the ambassador.
        required: false
        schema:
          type: boolean
          nullable: true
      - in: query
        name: mediaTypes
        description: The types of media items to include in the query.
        required: false
        schema:
          default:
          - IMAGE
          - VIDEO
          - CAROUSEL_ALBUM
          items:
            enum:
            - IMAGE
            - VIDEO
            - CAROUSEL_ALBUM
            type: string
          type: array
          maxItems: 3
          nullable: true
      - in: query
        name: minMediaPostedAt
        description: The minimum date that the media was posted.
        required: false
        schema:
          type: string
          nullable: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  ecommAmbassador:
                    properties:
                      id:
                        type: string
                      pagedAmbassadorFeedItems:
                        properties:
                          mediaCursor:
                            type: string
                            nullable: true
                          productCursor:
                            type: string
                            nullable: true
                          results:
                            items:
                              anyOf:
                              - properties:
                                  __typename:
                                    description: The type of the feed item. Either a product or media.
                                    type: string
                                    example: PRODUCT
                                  customMedia:
                                    description: If the ambassador chose a custom media for the feed item
                                      when they picked it, this object will be populated with that media.
                                    type: object
                                    properties:
                                      id:
                                        description: The unique identifier of the custom media in the
                                          LoudCrowd platform.
                                        type: string
                                        example: XYZ123ABC
                                      imageSrc:
                                        description: The URL of the custom media image.
                                        type: string
                                        example: https://media.loudcrowd.com/17841409007688784.jpg
                                        nullable: true
                                    nullable: true
                                  featuredAt:
                                    description: If the item is featured, the date it was featured in
                                      Coordinated Universal Time (UTC).
                                    type: string
                                    example: '2021-07-01T00:00:00Z'
                                    nullable: true
                                  isOnlyProductInCollection:
                                    description: If the product is the only product in the collection.
                                    type: boolean
                                    example: false
                                    nullable: true
                                  pickedAt:
                                    description: The date it was picked and added to the collection in
                                      Coordinated Universal Time (UTC).
                                    type: string
                                    example: '2021-07-01T00:00:00Z'
                                    nullable: true
                                  product:
                                    properties:
                                      active:
                                        type: boolean
                                        description: Whether the product is active.
                                        example: true
                                      brand:
                                        type: string
                                        description: The brand of the product.
                                        example: Nike
                                        nullable: true
                                      handle:
                                        type: string
                                        description: The handle of the product.
                                        example: nike-air-force-1
                                        nullable: true
                                      imageSrc:
                                        type: string
                                        description: The URL of the product image.
                                        example: https://media.loudcrowd.com/17841409007688784.jpg
                                        nullable: true
                                      platformProductId:
                                        type: string
                                        description: The unique identifier of the product in the platform.
                                        example: XYZDJSK1ABC
                                      priceCurrencyCode:
                                        enum:
                                        - USD
                                        - CAD
                                        - GBP
                                        - AUD
                                        - AED
                                        - AFN
                                        - ALL
                                        - AMD
                                        - ANG
                                        - AOA
                                        - ARS
                                        - AWG
                                        - AZN
                                        - BAM
                                        - BBD
                                        - BDT
                                        - BGN
                                        - BHD
                                        - BIF
                                        - BMD
                                        - BND
                                        - BOB
                                        - BOV
                                        - BRL
                                        - BSD
                                        - BTN
                                        - BWP
                                        - BYN
                                        - BZD
                                        - CDF
                                        - CHE
                                        - CHF
                                        - CHW
                                        - CLF
                                        - CLP
                                        - CNY
                                        - COP
                                        - COU
                                        - CRC
                                        - CUC
                                        - CUP
                                        - CVE
                                        - CZK
                                        - DJF
                                        - DKK
                                        - DOP
                                        - DZD
                                        - EGP
                                        - ERN
                                        - ETB
                                        - EUR
                                        - FJD
                                        - FKP
                                        - GEL
                                        - GHS
                                        - GIP
                                        - GMD
                                        - GNF
                                        - GTQ
                                        - GYD
                                        - HKD
                                        - HNL
                                        - HRK
                                        - HTG
                                        - HUF
                                        - IDR
                                        - ILS
                                        - INR
                                        - IQD
                                        - IRR
                                        - ISK
                                        - JMD
                                        - JOD
                                        - JPY
                                        - KES
                                        - KGS
                                        - KHR
                                        - KMF
                                        - KPW
                                        - KRW
                                        - KWD
                                        - KYD
                                        - KZT
                                        - LAK
                                        - LBP
                                        - LKR
                                        - LRD
                                        - LSL
                                        - LYD
                                        - MAD
                                        - MDL
                                        - MGA
                                        - MKD
                                        - MMK
                                        - MNT
                                        - MOP
                                        - MRU
                                        - MUR
                                        - MVR
                                        - MWK
                                        - MXN
                                        - MXV
                                        - MYR
                                        - MZN
                                        - NAD
                                        - NGN
                                        - NIO
                                        - NOK
                                        - NPR
                                        - NZD
                                        - OMR
                                        - PAB
                                        - PEN
                                        - PGK
                                        - PHP
                                        - PKR
                                        - PLN
                                        - PYG
                                        - QAR
                                        - RON
                                        - RSD
                                        - RUB
                                        - RWF
                                        - SAR
                                        - SBD
                                        - SCR
                                        - SDG
                                        - SEK
                                        - SGD
                                        - SHP
                                        - SLE
                                        - SLL
                                        - SOS
                                        - SRD
                                        - SSP
                                        - STN
                                        - SVC
                                        - SYP
                                        - SZL
                                        - THB
                                        - TJS
                                        - TMT
                                        - TND
                                        - TOP
                                        - TRY
                                        - TTD
                                        - TWD
                                        - TZS
                                        - UAH
                                        - UGX
                                        - USN
                                        - UYI
                                        - UYU
                                        - UYW
                                        - UZS
                                        - VED
                                        - VES
                                        - VND
                                        - VUV
                                        - WST
                                        - XAF
                                        - XAG
                                        - XAU
                                        - XBA
                                        - XBB
                                        - XBC
                                        - XBD
                                        - XCD
                                        - XDR
                                        - XOF
                                        - XPD
                                        - XPF
                                        - XPT
                                        - XSU
                                        - XTS
                                        - XUA
                                        - XXX
                                        - YER
                                        - ZAR
                                        - ZMW
                                        - ZWL
                                        type: string
                                        description: The currency code of the product prices.
                                        example: USD
                                        nullable: true
                                      prices:
                                        properties:
                                          discountedPriceRanges:
                                            description: List of the discounted price ranges for the product.
                                            items:
                                              properties:
                                                discount:
                                                  properties:
                                                    id:
                                                      type: string
                                                  type: object
                                                range:
                                                  properties:
                                                    max:
                                                      type: number
                                                    min:
                                                      type: number
                                                  type: object
                                              type: object
                                            type: array
                                            maxItems: 10
                                          discountedPrices:
                                            description: List of the discounted prices for the product.
                                            items:
                                              properties:
                                                discount:
                                                  properties:
                                                    id:
                                                      type: string
                                                  type: object
                                                price:
                                                  type: number
                                              type: object
                                            type: array
                                            maxItems: 10
                                          price:
                                            description: The price of the product.
                                            type: number
                                            nullable: true
                                          priceRange:
                                            description: The price range of the product.
                                            properties:
                                              max:
                                                type: number
                                              min:
                                                type: number
                                            type: object
                                            nullable: true
                                          promotionalPrice:
                                            description: If there is a site wide promotion applied to
                                              the product data, the promotional price of the product.
                                            type: number
                                            nullable: true
                                          promotionalPriceRange:
                                            description: If there is a site wide promotion applied to
                                              the product data, the promotional price range of the product.
                                            properties:
                                              max:
                                                type: number
                                              min:
                                                type: number
                                            type: object
                                            nullable: true
                                          salePrice:
                                            description: The sale price of the product.
                                            type: number
                                            nullable: true
                                          salePriceRange:
                                            description: The sale price range of the product.
                                            properties:
                                              max:
                                                type: number
                                              min:
                                                type: number
                                            type: object
                                            nullable: true
                                        type: object
                                        nullable: true
                                      productUrl:
                                        description: The URL of the product details.
                                        type: string
                                        nullable: true
                                      promotionalCode:
                                        description: If there is a site wide promotion applied to the
                                          product data, the promotional code itself.
                                        type: string
                                        nullable: true
                                      title:
                                        description: The title of the product.
                                        type: string
                                        nullable: true
                                    type: object
                                  productVariant:
                                    type: object
                                    properties:
                                      id:
                                        description: The unique identifier of the product variant in the
                                          platform.
                                        type: string
                                        example: XYZDJSK1ABC
                                      productUrl:
                                        description: The URL of the product variant details.
                                        type: string
                                        nullable: true
                                      selectedOptions:
                                        items:
                                          $ref: '#/components/schemas/selectedOptionItem'
                                        type: array
                                        maxItems: 10
                                type: object
                              - properties:
                                  __typename:
                                    description: The type of the feed item. Either a product or media.
                                    type: string
                                    example: MEDIA
                                  hasNextMedia:
                                    description: If the media item has a next media item.
                                    type: boolean
                                    example: true
                                    nullable: true
                                  hasPrevMedia:
                                    description: If the media item has a previous media item.
                                    type: boolean
                                    example: true
                                    nullable: true
                                  hidden:
                                    description: Whether the media item is hidden by the ambassador.
                                    type: boolean
                                    example: false
                                  isFeatured:
                                    description: Whether the media item is featured.
                                    type: boolean
                                    example: true
                                  isShoppable:
                                    description: Whether the media item is shoppable. Meaning it has products
                                      tagged.
                                    type: boolean
                                    example: true
                                  media:
                                    $ref: '#/components/schemas/mediaItem'
                                    type: object
                                type: object
                            type: array
                            maxItems: 100
                          total:
                            type: integer
                            nullable: true
                        type: object
                    type: object
                    nullable: true
                type: object
          description: response
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
  /StorefrontMediaDetails:
    get:
      summary: Retrieve Media Details
      description: Detailed data to support display of a shoppable media item.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: mediaId
        description: The unique identifier of the media item in the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  mediaDetails:
                    type: object
                    properties:
                      hasNextMedia:
                        description: If the media item has a next media item.
                        type: boolean
                        example: true
                        nullable: true
                      hasPrevMedia:
                        description: If the media item has a previous media item.
                        type: boolean
                        example: true
                        nullable: true
                      hidden:
                        description: Whether the media item is hidden by the ambassador.
                        type: boolean
                        example: false
                      isFeatured:
                        description: Whether the media item is featured.
                        type: boolean
                        example: true
                      isShoppable:
                        description: Whether the media item is shoppable. Meaning it has products tagged.
                        type: boolean
                        example: true
                      media:
                        properties:
                          caption:
                            description: The caption of the media item.
                            type: string
                            nullable: true
                            example: Check out my new shoes!
                          children:
                            description: If the media item is a carousel, the items in the carousel.
                            items:
                              properties:
                                mediaType:
                                  enum:
                                  - IMAGE
                                  - VIDEO
                                  - CAROUSEL_ALBUM
                                  type: string
                                  description: The media type of the carousel child item.
                                  example: VIDEO
                                  nullable: true
                                mediaUrl:
                                  type: string
                                  description: The URL of the media item.
                                  example: https://media.loudcrowd.com/18057689623487832.mp4
                                  nullable: true
                              type: object
                            type: array
                            maxItems: 100
                            nullable: true
                          mediaType:
                            enum:
                            - IMAGE
                            - VIDEO
                            - CAROUSEL_ALBUM
                            type: string
                            nullable: true
                            description: The media type of the item.
                            example: VIDEO
                          mediaUrl:
                            type: string
                            nullable: true
                            description: The URL of the media item.
                            example: https://media.loudcrowd.com/18057689623487832.mp4
                          platform:
                            enum:
                            - INSTAGRAM
                            - TIKTOK
                            type: string
                            nullable: true
                            description: The social platform of the media item.
                            example: INSTAGRAM
                          postType:
                            enum:
                            - FEED
                            - STORY
                            - REELS
                            type: string
                            nullable: true
                            description: The type of post the media item is. This is dependent on the
                              platform.
                            example: REELS
                          postedAt:
                            type: string
                            nullable: true
                            description: The date the media item was posted in Coordinated Universal Time
                              (UTC).
                            example: '2021-07-01T00:00:00Z'
                        type: object
                      taggedProducts:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/taggedProductItem'
                        maxItems: 100
                        nullable: true
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
  /StorefrontProductDetails:
    get:
      summary: Retrieve Product Details
      description: Detailed data to support social-enhanced display of an ambassador's picked product.
      parameters:
      - in: query
        name: lcAmbassadorId
        description: The unique identifier of the ambassador generated by the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      - in: query
        name: shopId
        description: The unique identifier of the shop that the ambassador is associated with. This field
          is not required if the `shopifyId` field is populated.
        required: false
        schema:
          type: string
      - in: query
        name: shopifyId
        description: The unique identifier of the shopify shop that the ambassador is associated with.
          This field is not required if the `shopId` field is populated.
        required: false
        schema:
          type: string
      - in: query
        name: productVariantId
        description: The unique identifier of the product variant item in the LoudCrowd platform.
        required: true
        schema:
          type: string
          maxLength: 32
          pattern: ^[a-zA-Z0-9+/]*={0,2}$
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  productDetails:
                    type: object
                    properties:
                      product:
                        type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the product in LoudCrowd.
                            example: XYZDJSK1ABC
                          active:
                            type: boolean
                            description: Whether the product is active.
                            example: true
                          brand:
                            type: string
                            nullable: true
                            description: The brand of the product.
                            example: Nike
                          handle:
                            type: string
                            nullable: true
                            description: The handle of the product.
                            example: nike-air-force-1
                          imageSrc:
                            type: string
                            nullable: true
                            description: The URL of the product image.
                            example: https://media.loudcrowd.com/17841409007688784.jpg
                          options:
                            description: The options available for the product.
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  description: The name of the option.
                                  type: string
                                values:
                                  description: The possible values of the option.
                                  type: array
                                  items:
                                    type: string
                          platformProductId:
                            type: string
                            description: The unique identifier of the product in the platform.
                            example: XYZDJSK1ABC
                          priceCurrencyCode:
                            $ref: '#/components/schemas/priceCurrencyCode'
                          prices:
                            $ref: '#/components/schemas/productPrices'
                          productUrl:
                            description: The URL of the product details.
                            type: string
                            nullable: true
                          title:
                            description: The title of the product.
                            type: string
                            nullable: true
                      productVariant:
                        type: object
                        properties:
                          id:
                            description: The unique identifier of the product variant in the LoudCrowd.
                            type: string
                            example: XYZDJSK1ABC
                          productUrl:
                            description: The URL of the variant the ambassador has picked.
                            type: string
                            nullable: true
                          selectedOptions:
                            description: The selected options of the product variant.
                            type: array
                            items:
                              $ref: '#/components/schemas/selectedOptionItem'
                      customMedia:
                        description: If the ambassador chose a custom media for the feed item when they
                          picked it, this object will be populated with that media.
                        type: object
                        properties:
                          id:
                            description: The unique identifier of the custom media in the LoudCrowd platform.
                            type: string
                            example: XYZ123ABC
                          imageSrc:
                            description: The URL of the custom media image.
                            type: string
                            nullable: true
                            example: https://media.loudcrowd.com/17841409007688784.jpg
                        nullable: true
                      taggedMedias:
                        type: array
                        items:
                          type: object
                          $ref: '#/components/schemas/mediaItem'
                        maxItems: 250
                        nullable: true
                      featuredAt:
                        description: If the product is featured, the date it was featured in Coordinated
                          Universal Time (UTC).
                        type: string
                        nullable: true
                        example: '2021-07-01T00:00:00Z'
                      pickedAt:
                        description: The date it was picked and added to the collection in Coordinated
                          Universal Time (UTC).
                        type: string
                        nullable: true
                        example: '2021-07-01T00:00:00Z'
        '400':
          $ref: '#/components/responses/400'
        '404':
          $ref: '#/components/responses/404'
  /event/ecomm:
    post:
      summary: Submit Order Event
      description: Submit order create, update, and cancel event payloads to LoudCrowd for attribution
        and commission calculation.
      operationId: submit_order_event
      tags:
      - Attribution Events API
      servers:
      - url: https://api.loudcrowd.com
      security: []
      parameters:
      - in: header
        name: X-LC-SHOP-ID
        description: The Shop ID of the ecommerce integration that owns the order, shown on the LoudCrowd
          Integrations page. This is not an Account ID or API token.
        required: true
        schema:
          type: string
      - in: header
        name: X-Signature
        description: Lowercase hexadecimal HMAC-SHA256 of the exact raw request-body bytes, keyed with
          an API token that grants the **Write orders** scope. Do not include a sha256= prefix.
        required: true
        schema:
          type: string
      - in: header
        name: X-LC-TOPIC
        description: Specifies the event type. ORDER_CANCEL requires the complete order payload, a non-null
          platform_cancelled_at, and a platform_updated_at later than the preceding event.
        required: true
        schema:
          type: string
          enum:
          - ORDER_CREATE
          - ORDER_UPDATE
          - ORDER_CANCEL
      - in: header
        name: Content-Type
        description: Content type of the request
        required: true
        schema:
          type: string
          default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - platform_order_id
              - platform_ordered_at
              - amount
              - tax
              - shipping
              - currency_code
              - line_items
              properties:
                platform_order_id:
                  type: string
                  description: Your internal identifier for the order
                platform_customer_id:
                  type: string
                  description: Your internal identifier for the customer who placed the order
                email:
                  type: string
                  format: email
                  description: Customer's email address, when available.
                phone:
                  type: string
                  description: Customer's phone number, when available.
                platform_ordered_at:
                  type: string
                  format: date-time
                  description: The date and time when the order was placed, in ISO 8601 format (UTC)
                platform_updated_at:
                  type: string
                  format: date-time
                  description: The date and time when the order was last updated, in ISO 8601 format (UTC).
                    For ORDER_CANCEL, send a value later than the preceding event.
                platform_cancelled_at:
                  type: string
                  format: date-time
                  nullable: true
                  description: The date and time when the order was cancelled, in ISO 8601 format (UTC).
                    This must be non-null for ORDER_CANCEL; set it to null when the order is not cancelled.
                amount:
                  type: string
                  description: Total amount of the order as a decimal string, including tax, shipping,
                    and discounts. Excludes refunds/returns.
                  example: '200.00'
                tax:
                  type: string
                  description: Total tax amount for the order as a decimal string
                  example: '12.00'
                shipping:
                  type: string
                  description: Total shipping cost for the order as a decimal string
                  example: '10.00'
                currency_code:
                  type: string
                  description: Currency code of the order, in ISO 4217 format
                discounts:
                  type: array
                  description: Array of discount objects applied to the order
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: Discount code used
                      type:
                        type: string
                        enum:
                        - DISCOUNT_CODE
                        description: Type of discount application
                      value_type:
                        type: string
                        enum:
                        - FIXED_AMOUNT
                        - PERCENTAGE
                        description: Type of discount value
                      value:
                        type: string
                        description: Value of the discount as a decimal string
                        example: '15'
                    required:
                    - code
                    - type
                    - value_type
                    - value
                line_items:
                  type: array
                  minItems: 1
                  description: Array of line item objects representing products purchased in the order
                  items:
                    type: object
                    required:
                    - line_item_id
                    - sku
                    - amount
                    - tax
                    - quantity
                    properties:
                      line_item_id:
                        type: string
                        description: Platform-specific identifier for the line item
                      sku:
                        type: string
                        description: SKU of the product purchased
                      variant_sku:
                        type: string
                        description: SKU of the product variant purchased
                      amount:
                        type: string
                        description: Total amount paid for the line item as a decimal string, including
                          taxes and deductions
                        example: '100.00'
                      tax:
                        type: string
                        description: Total tax amount for the line item as a decimal string
                        example: '6.00'
                      quantity:
                        type: string
                        description: Number of units purchased for this line item as a numeric string
                        example: '2'
                refund_line_items:
                  type: array
                  description: Array of refund line item objects representing returned or refunded products
                  items:
                    type: object
                    required:
                    - refund_line_item_id
                    - line_item_id
                    - platform_refunded_at
                    - sku
                    - amount
                    - tax
                    - quantity
                    properties:
                      refund_line_item_id:
                        type: string
                        description: Identifier unique within the ecommerce integration and stable for
                          this original line_item_id. Reuse it with cumulative current values on later
                          updates, and use a different ID for a different original line_item_id.
                      line_item_id:
                        type: string
                        description: Identifier of the original line item that was refunded
                      platform_refunded_at:
                        type: string
                        format: date-time
                        description: Date and time when the line item was refunded, in ISO 8601 format
                          (UTC)
                      sku:
                        type: string
                        description: SKU of the product refunded
                      variant_sku:
                        type: string
                        description: SKU of the product variant refunded
                      amount:
                        type: string
                        description: Total cumulative amount refunded for the line item as a decimal string,
                          including tax refunds
                        example: '100.00'
                      tax:
                        type: string
                        description: Total cumulative tax refunded for the line item as a decimal string
                        example: '6.00'
                      quantity:
                        type: string
                        description: Total cumulative number of units refunded for this line item as a
                          numeric string
                        example: '1'
                lc_anon_id:
                  type: string
                  format: uuid
                  nullable: true
                  description: Value of lc_anon_user_id from browser local storage. This is optional if
                    LoudCrowd's order confirmation script is installed.
      responses:
        '200':
          description: The event was authenticated and accepted for asynchronous processing. This response
            does not confirm persistence, attribution, or commission calculation.
          content:
            text/html:
              schema:
                type: string
                enum:
                - success
              example: success
        '400':
          description: Bad request - Invalid data provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid request data
        '401':
          description: Authentication failed. The response body is empty.
        '500':
          description: Internal processing failed. The response body is empty.
  /product-data:
    post:
      summary: Send Product Data
      description: Batch upsert or delete product catalog records in LoudCrowd. Aligns with the supported
        file formats documented in the LoudCrowd developer docs. This API is designed to mirror the ingestion
        pipeline currently used for file-based product loads so that existing mappings can be reused.
      operationId: send_product_data
      parameters:
      - in: header
        name: X-LC-SHOP-ID
        description: Your LoudCrowd internal shop identifier
        required: true
        schema:
          type: string
      - in: header
        name: X-Signature
        description: The SHA-256 hexadecimal digest of the UTF-8 encoded JSON payload
        required: true
        schema:
          type: string
      - in: header
        name: X-LC-TOPIC
        description: Specifies the operation to apply to the provided products
        required: true
        schema:
          type: string
          enum:
          - PRODUCT_UPSERT
          - PRODUCT_DELETE
      - in: header
        name: Content-Type
        description: Content type of the request
        required: true
        schema:
          type: string
          default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sendProductDataRequest'
      responses:
        '200':
          description: Request accepted and processed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Product data processed
                  processedCount:
                    type: integer
                    example: 123
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
  /api/v1/brand/{account_id}/programs/{program_id}/orders:
    get:
      summary: List program orders
      description: Retrieves orders attributed to members of a LoudCrowd program. Each result identifies
        the program member and includes attribution methods, financial values, and platform timestamps.
        Orders are returned in the order LoudCrowd received them, with the most recent first. Requires
        the **Read orders** and **Read programs** scopes.
      operationId: list_program_orders
      tags:
      - Brand API
      servers:
      - url: https://api.loudcrowd.com
      security:
      - accountKeyAuth: []
      parameters:
      - in: path
        name: account_id
        description: Your Account ID, shown under API identifiers in the LoudCrowd app.
        required: true
        example: YOUR_ACCOUNT_ID
        schema:
          type: string
      - in: path
        name: program_id
        description: Your Program ID, shown under API identifiers in the LoudCrowd app.
        required: true
        example: YOUR_PROGRAM_ID
        schema:
          type: string
      - in: query
        name: limit
        description: Maximum number of orders to return.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - in: query
        name: cursor
        description: Opaque next-page cursor returned by the preceding response.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A page of program orders.
          headers:
            Link:
              description: Next-page URL with rel="next". Absent on the final page.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - nextCursor
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/brandOrder'
                  nextCursor:
                    type: string
                    nullable: true
                    description: Opaque cursor for the next page, or null on the final page.
              example:
                data:
                - orderId: ORDER-123
                  ambassadorLcId: Y3VzdG9tZXI6MTIz
                  attributionTypes:
                  - LANDED
                  commissionAmount: '10.00'
                  amount: '100.00'
                  tax: '8.00'
                  shipping: '5.00'
                  refundAmount: '0.00'
                  refundTax: '0.00'
                  currency: USD
                  cancelledAt: null
                  orderedAt: '2026-06-01T12:00:00Z'
                  lastUpdatedAt: '2026-06-02T08:30:00Z'
                nextCursor: null
        '400':
          description: The limit or cursor is invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/brandBadRequest'
              example:
                error: Bad Request
                message: invalid cursor
        '401':
          description: The API token is missing or invalid, lacks a required scope, or cannot access the
            requested account or program.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/brandUnauthorized'
        '500':
          description: An unexpected server error occurred.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/brandInternalError'
security:
- bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Authorization header using the Bearer scheme. Example: "Authorization: Bearer {token}"'
    accountKeyAuth:
      type: apiKey
      in: header
      name: X-LC-Account-Key
      description: API token created in LoudCrowd.
      x-default: YOUR_API_TOKEN
  responses:
    '400':
      description: Request is missing or has a bad parameter.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 400
              message:
                type: string
                example: Bad Request
    '401':
      description: Key is valid, but the account does not have permissions to perform this action.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 401
              message:
                type: string
                example: Not Authorized
    '403':
      description: Request is missing or has an invalid API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 403
              message:
                type: string
                example: Forbidden
    '404':
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 404
              message:
                type: string
                example: Not Found
    '422':
      description: Validation failed for one or more product records.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 422
              message:
                type: string
                example: Unprocessable Entity
              recordErrors:
                type: array
                description: Per-record validation errors
                items:
                  type: object
                  properties:
                    index:
                      type: integer
                      description: Zero-based index of the product in the payload
                      example: 0
                    field:
                      type: string
                      description: JSON pointer or field path
                      example: products[0].platform_product_id
                    code:
                      type: string
                      description: Machine-readable error code
                      example: REQUIRED
                    message:
                      type: string
                      description: Human readable error
                      example: platform_product_id is required
                  required:
                  - index
                  - code
                  - message
    '429':
      description: You hit the rate limit for this account. All endpoints share the same rate limit for
        an account.
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Total requests allowed in the current window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining in the current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Unix epoch seconds when the current window resets
        Retry-After:
          schema:
            type: integer
          description: Seconds until the next request may be made
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 429
              message:
                type: string
                example: Rate Limit Exceeded
    '500':
      description: Something is wrong on LoudCrowd's end.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 500
              message:
                type: string
                example: Server Error
    '503':
      description: Service unavailable.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 503
              message:
                type: string
                example: Bad Gateway
  schemas:
    priceCurrencyCode:
      enum:
      - USD
      - CAD
      - GBP
      - AUD
      - AED
      - AFN
      - ALL
      - AMD
      - ANG
      - AOA
      - ARS
      - AWG
      - AZN
      - BAM
      - BBD
      - BDT
      - BGN
      - BHD
      - BIF
      - BMD
      - BND
      - BOB
      - BOV
      - BRL
      - BSD
      - BTN
      - BWP
      - BYN
      - BZD
      - CDF
      - CHE
      - CHF
      - CHW
      - CLF
      - CLP
      - CNY
      - COP
      - COU
      - CRC
      - CUC
      - CUP
      - CVE
      - CZK
      - DJF
      - DKK
      - DOP
      - DZD
      - EGP
      - ERN
      - ETB
      - EUR
      - FJD
      - FKP
      - GEL
      - GHS
      - GIP
      - GMD
      - GNF
      - GTQ
      - GYD
      - HKD
      - HNL
      - HRK
      - HTG
      - HUF
      - IDR
      - ILS
      - INR
      - IQD
      - IRR
      - ISK
      - JMD
      - JOD
      - JPY
      - KES
      - KGS
      - KHR
      - KMF
      - KPW
      - KRW
      - KWD
      - KYD
      - KZT
      - LAK
      - LBP
      - LKR
      - LRD
      - LSL
      - LYD
      - MAD
      - MDL
      - MGA
      - MKD
      - MMK
      - MNT
      - MOP
      - MRU
      - MUR
      - MVR
      - MWK
      - MXN
      - MXV
      - MYR
      - MZN
      - NAD
      - NGN
      - NIO
      - NOK
      - NPR
      - NZD
      - OMR
      - PAB
      - PEN
      - PGK
      - PHP
      - PKR
      - PLN
      - PYG
      - QAR
      - RON
      - RSD
      - RUB
      - RWF
      - SAR
      - SBD
      - SCR
      - SDG
      - SEK
      - SGD
      - SHP
      - SLE
      - SLL
      - SOS
      - SRD
      - SSP
      - STN
      - SVC
      - SYP
      - SZL
      - THB
      - TJS
      - TMT
      - TND
      - TOP
      - TRY
      - TTD
      - TWD
      - TZS
      - UAH
      - UGX
      - USN
      - UYI
      - UYU
      - UYW
      - UZS
      - VED
      - VES
      - VND
      - VUV
      - WST
      - XAF
      - XAG
      - XAU
      - XBA
      - XBB
      - XBC
      - XBD
      - XCD
      - XDR
      - XOF
      - XPD
      - XPF
      - XPT
      - XSU
      - XTS
      - XUA
      - XXX
      - YER
      - ZAR
      - ZMW
      - ZWL
      type: string
      description: The currency code of the product prices.
      example: USD
      nullable: true
    productPrices:
      properties:
        discountedPriceRanges:
          description: List of the discounted price ranges for the product.
          items:
            properties:
              discount:
                properties:
                  id:
                    type: string
                type: object
              range:
                properties:
                  max:
                    type: number
                  min:
                    type: number
                type: object
            type: object
          type: array
          maxItems: 10
        discountedPrices:
          description: List of the discounted prices for the product.
          items:
            properties:
              discount:
                properties:
                  id:
                    type: string
                type: object
              price:
                type: number
            type: object
          type: array
          maxItems: 10
        price:
          description: The price of the product.
          type: number
          nullable: true
        priceRange:
          description: The price range of the product.
          properties:
            max:
              type: number
            min:
              type: number
          type: object
          nullable: true
        promotionalPrice:
          description: If there is a site wide promotion applied to the product data, the promotional
            price of the product.
          type: number
          nullable: true
        promotionalPriceRange:
          description: If there is a site wide promotion applied to the product data, the promotional
            price range of the product.
          properties:
            max:
              type: number
            min:
              type: number
          type: object
          nullable: true
        salePrice:
          description: The sale price of the product.
          type: number
          nullable: true
        salePriceRange:
          description: The sale price range of the product.
          properties:
            max:
              type: number
            min:
              type: number
          type: object
          nullable: true
      type: object
      nullable: true
    mediaItem:
      type: object
      properties:
        caption:
          description: The caption of the media item.
          type: string
          example: Check out my new shoes!
          nullable: true
        children:
          description: If the media item is a carousel, the items in the carousel.
          items:
            properties:
              mediaType:
                enum:
                - IMAGE
                - VIDEO
                - CAROUSEL_ALBUM
                type: string
                description: The media type of the carousel child item.
                example: VIDEO
                nullable: true
              mediaUrl:
                type: string
                description: The URL of the media item.
                example: https://media.loudcrowd.com/18057689623487832.mp4
                nullable: true
            type: object
          type: array
          maxItems: 100
          nullable: true
        mediaType:
          enum:
          - IMAGE
          - VIDEO
          - CAROUSEL_ALBUM
          type: string
          description: The media type of the item.
          example: VIDEO
          nullable: true
        mediaUrl:
          type: string
          description: The URL of the media item.
          example: https://media.loudcrowd.com/18057689623487832.mp4
          nullable: true
        platform:
          enum:
          - INSTAGRAM
          - TIKTOK
          type: string
          description: The social platform of the media item.
          example: INSTAGRAM
          nullable: true
        postType:
          enum:
          - FEED
          - STORY
          - REELS
          type: string
          description: The type of post the media item is. This is dependent on the platform.
          example: REELS
          nullable: true
        postedAt:
          type: string
          description: The date the media item was posted in Coordinated Universal Time (UTC).
          example: '2021-07-01T00:00:00Z'
          nullable: true
    productItem:
      type: object
      properties:
        active:
          type: boolean
          description: Whether the product is active.
          example: true
        customMedia:
          description: If the ambassador chose a custom media for the feed item when they picked it, this
            object will be populated with that media.
          type: object
          properties:
            id:
              description: The unique identifier of the custom media in the LoudCrowd platform.
              type: string
              example: XYZ123ABC
            imageSrc:
              description: The URL of the custom media image.
              type: string
              example: https://media.loudcrowd.com/17841409007688784.jpg
              nullable: true
          nullable: true
        brand:
          type: string
          description: The brand of the product.
          example: Nike
          nullable: true
        handle:
          type: string
          description: The handle of the product.
          example: nike-air-force-1
          nullable: true
        imageSrc:
          type: string
          description: The URL of the product image.
          example: https://media.loudcrowd.com/17841409007688784.jpg
          nullable: true
        platformProductId:
          type: string
          description: The unique identifier of the product in the platform.
          example: XYZDJSK1ABC
        priceCurrencyCode:
          $ref: '#/components/schemas/priceCurrencyCode'
        prices:
          $ref: '#/components/schemas/productPrices'
        productUrl:
          description: The URL of the product details.
          type: string
          nullable: true
        promotionalCode:
          description: If there is a site wide promotion applied to the product data, the promotional
            code itself.
          type: string
          nullable: true
        title:
          description: The title of the product.
          type: string
          nullable: true
    productVariantItem:
      type: object
      properties:
        id:
          description: The unique identifier of the variant in  LoudCrowd.
          type: string
          example: XYZDJSK1ABC
        medias:
          description: The media items associated with the product variant.
          type: array
          items:
            type: object
            $ref: '#/components/schemas/mediaItem'
        price:
          description: The price of the product variant.
          type: number
          example: 68.35
          nullable: true
        product:
          description: The product the variant belongs to.
          type: object
          $ref: '#/components/schemas/productItem'
        productUrl:
          description: The URL of the variant the ambassador has picked.
          type: string
          nullable: true
        salePrice:
          description: The sale price of the product variant.
          type: number
          example: 59.99
          nullable: true
        selectedOptions:
          description: The selected options of the product variant.
          type: array
          items:
            $ref: '#/components/schemas/selectedOptionItem'
    selectedOptionItem:
      properties:
        name:
          description: The name of the selected option.
          type: string
          example: Color
          nullable: true
        value:
          description: The value of the selected option.
          type: string
          example: Red
          nullable: true
      type: object
    sendProductDataRequest:
      type: object
      required:
      - products
      properties:
        products:
          type: array
          description: Batch of product records to upsert or delete.
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/productIngestRecord'
    productIngestRecord:
      type: object
      description: Product payload aligned with file-based ingestion formats. Use nulls for clearing optional
        values.
      required:
      - platform_product_id
      - title
      properties:
        platform_product_id:
          type: string
          description: Unique product identifier from the eCommerce platform
        handle:
          type: string
          description: Product handle or slug
        title:
          type: string
          description: Product title
        brand:
          type: string
          nullable: true
          description: Brand name
        image_src:
          type: string
          nullable: true
          description: Primary product image URL
        product_url:
          type: string
          nullable: true
          description: Product PDP URL
        active:
          type: boolean
          description: Whether product is active/available
        in_stock:
          type: boolean
          nullable: true
          description: Inventory availability flag
        price_currency_code:
          $ref: '#/components/schemas/priceCurrencyCode'
        prices:
          $ref: '#/components/schemas/productPrices'
        promotional_code:
          type: string
          nullable: true
          description: Applied sitewide promo code, if any
        collections:
          type: array
          nullable: true
          description: Optional list of collection identifiers the product belongs to
          items:
            type: string
          maxItems: 250
        tags:
          type: array
          nullable: true
          description: Optional list of product tags
          items:
            type: string
          maxItems: 250
        variants:
          type: array
          nullable: true
          description: Optional list of product variants
          items:
            $ref: '#/components/schemas/productVariantIngestRecord'
          maxItems: 250
    productVariantIngestRecord:
      type: object
      required:
      - variant_sku
      properties:
        variant_sku:
          type: string
          description: Variant SKU (acts as external key)
        price:
          type: number
          nullable: true
          description: Variant price
        sale_price:
          type: number
          nullable: true
          description: Variant sale price
        product_url:
          type: string
          nullable: true
          description: Variant PDP URL
        selected_options:
          type: array
          nullable: true
          description: Key/value option selections like Size/Color
          items:
            $ref: '#/components/schemas/selectedOptionItem'
          maxItems: 100
    taggedProductItem:
      type: object
      properties:
        id:
          description: The unique identifier of the product in the platform.
          type: string
          example: XYZDJSK1ABC
        imageSrc:
          description: The URL of the product image.
          type: string
          example: https://media.loudcrowd.com/17841409007688784.jpg
          nullable: true
        active:
          description: Whether the product is active.
          type: boolean
          example: true
        brand:
          description: The brand of the product.
          type: string
          example: Nike
          nullable: true
        inStock:
          description: Whether the product is in stock.
          type: boolean
          example: true
        platformProductId:
          description: The unique identifier of the product in the eCommerce platform.
          type: string
          example: XYZDJSK1ABC
        priceCurrencyCode:
          $ref: '#/components/schemas/priceCurrencyCode'
        prices:
          $ref: '#/components/schemas/productPrices'
        productUrl:
          description: The URL of the product details.
          type: string
          nullable: true
        promotionalCode:
          description: If there is a site wide promotion applied to the product data, the promotional
            code itself.
          type: string
          nullable: true
        title:
          description: The title of the product.
          type: string
          nullable: true
        pickedProductVariant:
          type: object
          properties:
            id:
              description: The unique identifier of the variant in  LoudCrowd.
              type: string
              example: XYZDJSK1ABC
            medias:
              description: The media items associated with the product variant.
              type: array
              items:
                type: object
                properties:
                  id:
                    description: Id of the product media in LoudCrowd.
                    type: string
                    example: cHJvZHVjdF9tZWRpYTo5NjU4OTg2
                  mediaType:
                    enum:
                    - IMAGE
                    - VIDEO
                    - CAROUSEL_ALBUM
                    type: string
                    description: The media type of the carousel child item.
                    example: VIDEO
                    nullable: true
                  mediaUrl:
                    type: string
                    description: The URL of the media item.
                    example: https://media.loudcrowd.com/18057689623487832.mp4
                    nullable: true
                  position:
                    description: The position of the media in the carousel.
                    type: integer
                    example: 0
                    nullable: true
              maxItems: 100
            productUrl:
              description: The URL of the variant the ambassador has picked.
              type: string
              nullable: true
            selectedOptions:
              description: The selected options of the product variant.
              type: array
              items:
                $ref: '#/components/schemas/selectedOptionItem'
              maxItems: 100
    brandOrder:
      type: object
      description: An attributed order. If the order is cancelled before commission is paid, `amount`,
        `tax`, `shipping`, `refundAmount`, `refundTax`, and `commissionAmount` are all `"0.00"`. If the
        order is cancelled after commission is paid, those values remain as recorded when the commission
        was paid.
      required:
      - orderId
      - ambassadorLcId
      - attributionTypes
      - commissionAmount
      - amount
      - tax
      - shipping
      - refundAmount
      - refundTax
      - currency
      - cancelledAt
      - orderedAt
      - lastUpdatedAt
      properties:
        orderId:
          type: string
          description: Order identifier from the connected ecommerce platform.
        ambassadorLcId:
          type: string
          description: LoudCrowd ID for the selected program member.
        attributionTypes:
          type: array
          description: Distinct attribution methods recorded for the order. May contain more than one
            value.
          items:
            type: string
            enum:
            - LANDED
            - AFFILIATE_CODE
            - LINK_DISCOUNT
            - EXTERNAL
            - MANUAL
        commissionAmount:
          type: string
          nullable: true
          description: Commission currently recorded for the selected program member, as an exact decimal
            string in currency. It is null only when commission has not been calculated yet.
          example: '10.00'
        amount:
          type: string
          description: Order total before refunds, as an exact decimal string in currency. Includes tax
            and shipping.
          example: '100.00'
        tax:
          type: string
          description: Tax before refunds, as an exact decimal string in currency. Included in amount.
          example: '8.00'
        shipping:
          type: string
          description: Shipping as an exact decimal string in currency. Included in amount.
          example: '5.00'
        refundAmount:
          type: string
          description: Processed refund total as an exact decimal string in currency. Includes refundTax.
[...]
